.chat-panel {
   position: absolute;
   bottom: 0.625rem;
   left: 0.625rem;
   width: 18.75rem;
   &.off {
      width: auto;
      border: 0.125rem solid rgba(255, 255, 255, 0.2);
      border-radius: 0.3125rem;
      padding: 0.3125rem;
   }
}

.chat-panel:hover,
.chat-panel.active {
   opacity: 1;
}

.chat-input {
   display: flex;
   align-items: center;
   gap: 0.3125rem;
   flex-direction: row;
   backdrop-filter: blur(0.3125rem);
   padding: 0.3125rem;
   width: calc(100% - 0.125rem);
   input {
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      font-size: var(--mantine-font-size-sm);
   }
   &.command {
      background-color: rgba(255, 255, 255, 0.2);
      input {
         font-family: monospace;
      }
   }
}

.chat-input:focus {
   border: 0.125rem solid rgba(255, 255, 255, 0.5);
}

.chat-message-viewport {
   max-height: 50vh;
   text-shadow: 0.0625rem 0.0625rem 0 #000;
   font-size: var(--mantine-font-size-sm);
   mask-image: linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
   mask-mode: alpha;
   backdrop-filter: blur(0.3125rem);
   transition:
      opacity 0.25s ease-in-out,
      content-visibility 0.25s ease-in-out;
   transition-behavior: allow-discrete;
   &.show {
      content-visibility: visible;
      opacity: 1;
   }
   &.hide {
      content-visibility: hidden;
      opacity: 0;
   }
   .message {
      padding: 0.3125rem 0;
      user-select: text;
      -webkit-user-select: text;
      word-break: break-word;
      white-space: pre-wrap;
      content-visibility: auto;
      .name {
         display: flex;
         align-items: center;
         font-size: var(--mantine-font-size-xs);
      }
      .body {
         line-height: 1.25;
         font-size: var(--mantine-font-size-sm);
      }
      .mentions-me {
         color: var(--mantine-color-yellow-3);
      }
      .chat-image {
         max-width: 100%;
         max-height: 12.5rem;
         object-fit: contain;
         display: block;
         border-radius: 0.3125rem;
         cursor: var(--hand-cursor);
      }
   }
}
