.modal {
   position: fixed;
   z-index: 300;
   left: 50%;
   top: 10vh;
   transform: translateX(-50%);

   .modal-transparent-header {
      position: absolute;
      top: 0;
      color: #fff;
      padding: 0.625rem 0.625rem 10% 0.625rem;
      text-shadow: 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.75);
      background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      width: 100%;
   }

   .modal-transparent-body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 25% 0 0 0;
      text-shadow: 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.75);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
   }

   .modal-transparent-button {
      cursor: var(--hand-cursor);
      padding: 0.625rem;
      text-align: center;
      font-family: "TitleFont", serif;
      font-size: var(--mantine-font-size-lg);
      text-shadow: 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.75);

      &:hover {
         color: #fff;
      }

      &:active {
         transform: translateY(0.0625rem);
      }

      &:disabled:active {
         transform: none;
      }
   }
}

.modal.xl {
   max-width: 90vw;
   width: 50rem;
}

.modal.lg {
   max-width: 90vw;
   width: 40.625rem;
}

.modal.md {
   max-width: 90vw;
   width: 31.25rem;
}

.modal.sm {
   max-width: 90vw;
   width: 25rem;
}

.modal.xs {
   max-width: 90vw;
   width: 18.75rem;
}

.modal .modal-content {
   max-height: calc(80vh - var(--header-height));
}
