.box {
   border: 1px solid var(--mantine-color-dark-3);
   border-radius: var(--mantine-radius-default);

   &.blue {
      border: 1px solid var(--mantine-color-blue-4);
   }
   &.green {
      border: 1px solid var(--mantine-color-green-4);
   }
   &.red {
      border: 1px solid var(--mantine-color-red-4);
   }
   &.primary {
      border: 1px solid var(--mantine-primary-color-4);
   }
   &.yellow {
      border: 1px solid var(--mantine-color-yellow-4);
   }
   > .h1:first-child,
   > .h2:first-child {
      background:
         linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.3) 100%) bottom / 100%
         2px no-repeat,
         url("../assets/images/H1Dark.svg"),
         linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01));
   }
}

.frame {
   color: var(--mantine-color-dark-1);
   border-radius: 5px;
   background:
      linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent) top / 100% 2px no-repeat,
      linear-gradient(to left, transparent, rgba(255, 255, 255, 0.2), transparent) bottom / 100% 2px no-repeat,
      linear-gradient(to top, transparent, rgba(255, 255, 255, 0.2), transparent) left / 2px 100% no-repeat,
      linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.2), transparent) right / 2px 100% no-repeat,
      url("../assets/images/Background10.webp");
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   padding: 0 2px;
   &:hover,
   &.active {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      background:
         linear-gradient(to right, transparent, var(--mantine-primary-color-5), transparent) top / 100% 2px no-repeat,
         linear-gradient(to left, transparent, var(--mantine-primary-color-5), transparent) bottom / 100% 2px no-repeat,
         linear-gradient(to top, transparent, var(--mantine-primary-color-5), transparent) left / 2px 100% no-repeat,
         linear-gradient(to bottom, transparent, var(--mantine-primary-color-5), transparent) right / 2px 100% no-repeat,
         url("../assets/images/Background10.webp");
   }
}

.panel {
   background:
      url("../assets/images/Background9.png") padding-box,
      linear-gradient(to bottom, var(--mantine-primary-color-5), var(--mantine-primary-color-9)) border-box;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   border: 2px solid transparent;
   border-radius: var(--mantine-radius-default);
   overflow: hidden;

   .header {
      background-image:
         url("../assets/images/H1Dark.svg"),
         linear-gradient(to bottom, var(--mantine-primary-color-7), var(--mantine-primary-color-9));
      color: var(--mantine-color-gray-0);
      text-shadow: 1px 1px 0 var(--mantine-color-dark-5);
      border-bottom: 1px solid var(--mantine-primary-color-5);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 10px;
      font-size: 16px;
      font-family: "RomanFont", serif;
      font-weight: bold;
   }

   .h1,
   .h2 {
      background:
         linear-gradient(
            to right,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0.1) 100%
         )
         top / 100% 1px no-repeat,
         linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.3) 100%) bottom / 100%
         2px no-repeat,
         url("../assets/images/H1Dark.svg"),
         linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01));
      padding: 5px 10px;
      color: var(--mantine-color-gray-0);
      text-shadow: 1px 1px 0 var(--mantine-color-dark-5);
      font-family: "TitleFont", serif;
      font-size: 17px;
   }

   .h2 {
      font-size: 15px;
   }

   .h3 {
      padding: 5px 10px;
      font-size: 15px;
      background:
         linear-gradient(
            to right,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0.1) 100%
         )
         top / 100% 1px no-repeat,
         linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.3) 100%) bottom / 100%
         1px no-repeat,
         linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.04));
      color: var(--mantine-color-gray-0);
      text-shadow: 1px 1px 0 var(--mantine-color-dark-5);
      font-family: "TitleFont", serif;
   }
}

:root {
   --resource-panel-height: 70px;
}

.resource-panel {
   position: absolute;
   top: 10px;
   left: 10px;
   font-size: var(--mantine-font-size-sm);
   color: var(--mantine-color-gray-0);
   text-shadow: 1px 1px 0 var(--mantine-color-gray-9);
   line-height: 1;
   height: var(--resource-panel-height);
   img {
      display: block;
   }
}

.left-panel {
   position: absolute;
   top: calc(10px + var(--resource-panel-height) + 10px);
   left: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   height: calc(100vh - var(--resource-panel-height) - 20px - 65px);
   gap: 10px;
   .item {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: var(--hand-cursor);
      background-image: url("../assets/images/Paper1.png");
      background-color: var(--mantine-color-dark-7);
      box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
      border: 2px solid rgba(255, 255, 255, 0.25);
      border-radius: var(--mantine-radius-default);
      overflow: hidden;
      img {
         width: 30px;
         height: 30px;
      }
      &.red {
         background-color: var(--mantine-color-red-filled-hover);
         &:hover {
            background-color: var(--mantine-color-red-filled);
         }
      }
      &.green {
         background-color: var(--mantine-color-green-filled-hover);
         &:hover {
            background-color: var(--mantine-color-green-filled);
         }
      }
      &.blue {
         background-color: var(--mantine-color-blue-filled-hover);
         &:hover {
            background-color: var(--mantine-color-blue-filled);
         }
      }
      &.primary {
         background-color: var(--mantine-primary-color-filled-hover);
         &:hover {
            background-color: var(--mantine-primary-color-filled);
         }
      }
      &.yellow {
         background-color: var(--mantine-color-yellow-filled-hover);
         &:hover {
            background-color: var(--mantine-color-yellow-filled);
         }
      }
   }
}

.top-right-panel {
   position: absolute;
   top: 10px;
   right: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 35px;
   img {
      opacity: 0.75;
      &:hover {
         opacity: 1;
         cursor: var(--hand-cursor);
      }
      transition: opacity 0.2s ease-in-out;
   }
}

.pause-panel {
   position: absolute;
   top: 6px;
   left: 50%;
   transform: translateX(-50%);
   height: 62px;
   width: 142px;
   background-image: url("../assets/images/PaperScroll.png");
   background-size: 100% 100%;
   padding: 5px 0 0 0;
   color: var(--mantine-primary-color-7);
   font-family: "RomanFont", serif;
   font-weight: bold;
   font-size: 19px;
   line-height: 1;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 5px;
   cursor: var(--hand-cursor);
}

.bottom-panel {
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
}

.tutorial-panel {
   width: 400px;
   position: absolute;
   bottom: 10px;
   left: 10px;
}
