.cc {
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: stretch;
}

.hover-highlight:hover {
   background-color: rgba(255, 255, 255, 0.1);
}

.row {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 0.625rem;
   &.fstart {
      justify-content: flex-start;
   }
   &.wrap {
      flex-wrap: wrap;
   }
}

.row .stretch,
.col .stretch {
   align-self: stretch;
}

.row.stretch,
.col.stretch {
   align-self: stretch;
   align-items: stretch;
}

.row .fstart,
.col .fstart {
   align-self: flex-start;
}

.row.fstart,
.col.fstart {
   align-items: flex-start;
}

.col {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.g0 {
   gap: 0;
}

.g5 {
   gap: 0.3125rem;
}

.g10 {
   gap: 0.625rem;
}

.g15 {
   gap: 0.9375rem;
}

.g20 {
   gap: 1.25rem;
}

.m10 {
   margin: 0.625rem;
}

.m15 {
   margin: 0.9375rem;
}

.m20 {
   margin: 1.25rem;
}

.m-10 {
   margin: -0.625rem;
}

.m-5 {
   margin: -0.3125rem;
}

.m5 {
   margin: 0.3125rem;
}

.mx0 {
   margin-left: 0;
   margin-right: 0;
}

.mx10 {
   margin-left: 0.625rem;
   margin-right: 0.625rem;
}

.mx15 {
   margin-left: 0.9375rem;
   margin-right: 0.9375rem;
}

.mx20 {
   margin-left: 1.25rem;
   margin-right: 1.25rem;
}

.mx2 {
   margin-left: 0.125rem;
   margin-right: 0.125rem;
}

.mx-5 {
   margin-left: -0.3125rem;
   margin-right: -0.3125rem;
}

.mx-10 {
   margin-left: -0.625rem;
   margin-right: -0.625rem;
}

.mx-15 {
   margin-left: -0.9375rem;
   margin-right: -0.9375rem;
}

.my10 {
   margin-top: 0.625rem;
   margin-bottom: 0.625rem;
}
.my-10 {
   margin-top: -0.625rem;
   margin-bottom: -0.625rem;
}
.my-5 {
   margin-top: -0.3125rem;
   margin-bottom: -0.3125rem;
}

.my15 {
   margin-top: 0.9375rem;
   margin-bottom: 0.9375rem;
}

.my20 {
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
}

.my2 {
   margin-top: 0.125rem;
   margin-bottom: 0.125rem;
}

.mx5 {
   margin-left: 0.3125rem;
   margin-right: 0.3125rem;
}

.my5 {
   margin-top: 0.3125rem;
   margin-bottom: 0.3125rem;
}

.mt-10 {
   margin-top: -0.625rem;
}

.mb-10 {
   margin-bottom: -0.625rem;
}

.mt10 {
   margin-top: 0.625rem;
}

.mt20 {
   margin-top: 1.25rem;
}

.mt25 {
   margin-top: 1.5625rem;
}

.mt15 {
   margin-top: 0.9375rem;
}

.ml10 {
   margin-left: 0.625rem;
}

.ml5 {
   margin-left: 0.3125rem;
}

.ml-5 {
   margin-left: -0.3125rem;
}

.mr5 {
   margin-right: 0.3125rem;
}

.mr-20 {
   margin-right: -1.25rem;
}

.mr10 {
   margin-right: 0.625rem;
}

.mb10 {
   margin-bottom: 0.625rem;
}

.mt5 {
   margin-top: 0.3125rem;
}

.mb5 {
   margin-bottom: 0.3125rem;
}

.mb-5 {
   margin-bottom: -0.3125rem;
}

.mt-5 {
   margin-top: -0.3125rem;
}

.p10 {
   padding: 0.625rem;
}

.p5 {
   padding: 0.3125rem;
}

.p0 {
   padding: 0;
}

.py0 {
   padding-top: 0;
   padding-bottom: 0;
}

.pl10 {
   padding-left: 0.625rem;
}

.pr5 {
   padding-right: 0.3125rem;
}

.pr10 {
   padding-right: 0.625rem;
}

.pr15 {
   padding-right: 0.9375rem;
}

.pr20 {
   padding-right: 1.25rem;
}

.px10 {
   padding-left: 0.625rem;
   padding-right: 0.625rem;
}

.px15 {
   padding-left: 0.9375rem;
   padding-right: 0.9375rem;
}

.px20 {
   padding-left: 1.25rem;
   padding-right: 1.25rem;
}

.py10 {
   padding-top: 0.625rem;
   padding-bottom: 0.625rem;
}

.py5 {
   padding-top: 0.3125rem;
   padding-bottom: 0.3125rem;
}

.py2 {
   padding-top: 0.125rem;
   padding-bottom: 0.125rem;
}

.px5 {
   padding-left: 0.3125rem;
   padding-right: 0.3125rem;
}

.px2 {
   padding-left: 0.125rem;
   padding-right: 0.125rem;
}

.pl2 {
   padding-left: 0.125rem;
}

.pr5 {
   padding-right: 0.3125rem;
}

.f1 {
   flex: 1;
}

.f2 {
   flex: 2;
}

.h100 {
   height: 100%;
}

.h5 {
   height: 0.3125rem;
}

.h10 {
   height: 0.625rem;
}

.h15 {
   height: 0.9375rem;
}

.h20 {
   height: 1.25rem;
}

.h25 {
   height: 1.5625rem;
}

.h30 {
   height: 1.875rem;
}

.w5 {
   width: 0.3125rem;
}

.w10 {
   width: 0.625rem;
}

.w15 {
   width: 0.9375rem;
}

.w20 {
   width: 1.25rem;
}

.w100 {
   width: 100%;
}

.w0 {
   width: 0;
}

.br5 {
   border-radius: 0.3125rem;
}

.br10 {
   border-radius: 0.625rem;
}

.text-white {
   color: #fff;
}

.text-mono {
   font-family: monospace;
}

.text-shadow {
   text-shadow: 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.75);
}

.text-link {
   cursor: pointer;
   text-decoration: underline;
   text-underline-offset: 0.125rem;
   text-decoration-thickness: 0.125rem;
   text-decoration-color: color-mix(in srgb, currentColor 40%, transparent);

   &:hover {
      text-decoration-color: color-mix(in srgb, currentColor 70%, transparent);
   }
}

.text-display {
   font-family: "TitleFont", serif;
}

.text-roman {
   font-family: "RomanFont", serif;
   font-weight: bold;
}

.text-body {
   font-family: "MainFont", serif;
}

.text-ellipsis {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.nowrap {
   white-space: nowrap;
   word-wrap: nowrap;
   word-break: keep-all;
}

.text-italic {
   font-style: italic;
}

.text-hover:hover {
   color: var(--mantine-primary-color-5);
}

.text-bold {
   font-weight: bold;
}

.text-dimmed {
   color: var(--mantine-color-dark-2);
}

.text-disabled {
   color: var(--mantine-color-dark-3);
}

.disabled {
   filter: grayscale(1);
   opacity: 0.5;
}

.bw {
   filter: grayscale(1);
}

.text-primary {
   color: var(--mantine-primary-color-3);
}

.text-green {
   color: var(--mantine-color-green-5);
}

.text-red {
   color: var(--mantine-color-red-5);
}

.text-yellow {
   color: var(--mantine-color-yellow-5);
}

.text-orange {
   color: var(--mantine-color-orange-5);
}

.text-blue {
   color: var(--mantine-color-blue-5);
}

.text-yellow {
   color: var(--mantine-color-yellow-5);
}

.text-uppercase {
   text-transform: uppercase;
}

.text-sm {
   font-size: var(--mantine-font-size-sm);
}

.text-xs {
   font-size: var(--mantine-font-size-xs);
}

.text-md {
   font-size: var(--mantine-font-size-md);
}

.text-lg {
   font-size: var(--mantine-font-size-lg);
}

.text-xl {
   font-size: var(--mantine-font-size-xl);
}

.text-left {
   text-align: left;
}

.text-center {
   text-align: center;
}

.lh-xs {
   line-height: var(--mantine-line-height-xs);
}

.lh-sm {
   line-height: var(--mantine-line-height-sm);
}

.lh-md {
   line-height: var(--mantine-line-height-md);
}

.lh-lg {
   line-height: var(--mantine-line-height-lg);
}

.lh-xl {
   line-height: var(--mantine-line-height-xl);
}

.text-right {
   text-align: right;
}

.pointer {
   cursor: var(--hand-cursor);
}

.fade {
   transition-property: opacity, transform;
   backface-visibility: hidden;
   will-change: transform, opacity;
   transition-duration: 250ms;
   transition-timing-function: ease;
}

.display-block {
   display: block;
}

.inline-middle {
   display: inline-block;
   vertical-align: middle;
}

.animate-spin {
   animation: spin 1s linear infinite;
}

@keyframes spin {
   to {
      transform: rotate(360deg);
   }
}

.animate-ping {
   animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
   75%,
   100% {
      transform: scale(2);
      opacity: 0;
   }
}

.animate-pulse {
   animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
   50% {
      opacity: 0.5;
   }
}

.animate-bounce {
   animation: bounce 1s infinite;
}

@keyframes bounce {
   0%,
   100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
   }
   50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
   }
}

.animate-bounce-right {
   animation: bounce-right 1s infinite;
}

@keyframes bounce-right {
   0%,
   100% {
      transform: translateX(-20%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
   }
   50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
   }
}

ul {
   padding: 0 0 0 1.25rem;
   margin: 0;
   li {
      margin: 0.3125rem 0;
      padding: 0;
   }
}

p {
   margin: 0.3125rem 0;
   padding: 0;
}

.col-gap-5 {
   display: flex;
   flex-direction: column;
   gap: 0.3125rem;
}
