.legacy-upgrade-node {
   width: var(--legacy-upgrade-node-width);
   height: var(--legacy-upgrade-node-height);
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   position: relative;
   font-family: "RomanFont", serif;
   text-shadow: 0.0625rem 0.0625rem 0 var(--mantine-color-dark-9);
   overflow: hidden;
   font-weight: bold;
   font-size: 0.875rem;
   .upgrade-id {
      text-align: right;
      font-size: 75%;
      color: rgba(255, 255, 255, 0.4);
      font-family: "MainFont", serif;
      font-weight: normal;
      position: absolute;
      top: 0.125rem;
      right: 0.125rem;
   }
   opacity: 0.3;
   &.upgraded {
      opacity: 1;
      color: var(--mantine-primary-color-3);
   }
   &.can-upgrade {
      cursor: var(--hand-cursor);
      opacity: 1;
      &:hover {
         color: var(--mantine-primary-color-3);
      }
   }
}

.legacy-upgrade-node-handle {
   visibility: hidden;
}
